<footer class="px-6 py-6 flex justify-between bg-gray-800 ">
            <div class="w-4/5 pr-1">
                <h3 class="mb-5 font-semibold text-gray-400">درباره ما</h3>
                <p class="text-lg text-gray-500">لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است.</p>
            </div>

            <div class="w-1/5">
                <h3 class="mb-5 font-semibold text-gray-400">منو</h3>
                <uL class="space-y-2">
                    <li> <a href="#" class="text-lg text-teal-500 hover:text-teal-700">درباره ما</a> </li>
                    <li> <a href="#" class="text-lg text-teal-500 hover:text-teal-700">تماس با ما</a> </li>
                    <li> <a href="#" class="text-lg text-teal-500 hover:text-teal-700">حریم خصوصی</a> </li>
                    <li> <a href="#" class="text-lg text-teal-500 hover:text-teal-700">شرایط استفاده</a> </li>

                </ul>
            </div>
</footer>